@tailwind base;
@tailwind components;
@tailwind utilities;



@view-transition{
    navigation:auto;
}

::view-transition-old(root),
::view-transition-new(root){
    animation-duration: 0.5s;
}


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Evita scroll innecesario */
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}